body {
  background-color: darkgoldenrod;
  font-family: "Roboto mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}

.container {
  max-width: 600px;
  text-align: center;
  margin: 30px auto;
  background-color: whitesmoke;
  border: 1px solid darkblue;
  padding: 10px 40px 30px 40px;
  border-radius: 6px;
  box-shadow: 18px 17px 23px rgba(47, 37, 37, 0.5);
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin: 0 auto 25px auto;
  font-size: 17px;
  background-color: whitesmoke;
}

h2 {
  margin: 0;
  font-size: 32px;
  line-height: 1.5;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  padding-top: 5px;
}

.city:last-child {
  border: none;
}

.city-option {
  text-align: left;
}

.homepage {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 800;
  text-decoration: none;
}

.date {
  opacity: 0.6;
  margin: 0;
  text-align: left;
}

.time {
  font-size: 50px;
  font-weight: bold;
}

.time small {
  vertical-align: middle;
  font-size: 18px;
  margin-left: 8px;
}

a {
  text-decoration: none;
}

h1 a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  font-family: monospace;
  padding-top: 20px;
  color: whitesmoke;
  font-size: 15px;
}
footer a {
  text-decoration: none;
  font-weight: 800;
}
